
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error!</h2>

<p>
   You have already voted on ths recipe!
   Use the back button on your browser to return to the recipe page.
</p>