
@{
    ViewBag.Title = "AdminDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Doc</h2>

<h3>Dealing with Reported Recipes</h3>

<p>When users report a </p>

<h3>Admin Created Recipes</h3>

<p>Admin created recipes will have a verified checkbox next to them.</p>

<h3>Banning Users</h3>