
@{
    ViewBag.Title = "UserDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Doc</h2>

<h3>Creating a recipe</h3>

<p>Users can create their own recipes by clicking on "Add New Recipe" in Recipe Index.</p>

<p>Ingredients can be selected using the Ingredient Selection Field.</p>

<p>Users have the option to leave out the source link but need to fill every other field.</p>

<h3>Editing a recipe</h3>

<p>Note: Users can only edit their own recipes</p>

<p>Users can edit their own recipes by clicking on "Edit" in Recipe Index.</p>

<h3>Deleting a recipe</h3>

<p>Note: Users can only delete their own recipes</p>

<p>Users can delete their own recipes by clicking on "Delete".</p>

<h3>Getting more details about a recipe</h3>

<p>Go the recipe you want and click on "Details"</p>

<h3>Searching a recipe</h3>

<p>You can search by Ingredients or Title</p>

<p>In order to search Ingredients, you need to use "," between ingredients</p>

<h3>Recipe Filtering</h3>

<p>When in the recipe index, you can filter by country and meal type.</p>

<p>Also, users can select to see only Verified or User Recipes.</p>

<h3>Rating Recipe</h3>

<p>Users can only rate a recipe once.</p>

<p>Users can rate recipes with thumbs up or down.</p>

<h3>Reporting Recipe</h3>

<p>Users can report inappropriate recipes by going to the Recipe Detail view and clicking on "Report this Recipe"</p>

<p>Note: Users can only report a recipe once</p>

<h3>Bookmarking a recipe</h3>

<p>Users can bookmark a recipe by clicking on "Bookmark Recipe" in Recipe Detail Page.</p>