
@{
    ViewBag.Title = "UserDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Doc</h2>

<p>Creating a recipe</p>

<p>Searching a recipe</p>

<p>Recipe Filtering</p>

<p>Rating Recipe</p>

<p>Reporting Recipe</p>

<p>Reporting a recipe</p>