
@{
    ViewBag.Title = "UserDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Guide</h2>

<h3>Creating a recipe</h3>

<p>Users can create their own recipes by clicking on "Add New Recipe" in Recipe Index.</p>

<p>Ingredients can be selected using the Ingredient Selection Field.</p>

<p>Users have the option to leave out the source link but need to fill every other field.</p>

<h3>Editing a recipe</h3>

<p>Note: Users can only edit their own recipes</p>

<p>Users can edit their own recipes by clicking on "Edit" in Recipe Index.</p>

<h3>Deleting a recipe</h3>

<p>Note: Users can only delete their own recipes</p>

<p>Users can delete their own recipes by clicking on "Delete" in Recipe Index.</p>

<h3>Getting more details about a recipe</h3>

<p>Go the recipe you want and click on "Details" in Recipe Index</p>

<h3>Searching a recipe</h3>

<p>Someone can search recipes by clicking on "Search Recipes" in header</p>

<p>You can search by Ingredients or Title</p>

<p>In order to search Ingredients, you need to use "," between ingredients</p>

<h3>Recipe Filtering</h3>

<p>The filters can be applied by filling in the country and meal time field. </p>

<p>When in the recipe index, you can filter by country and meal time.</p>

<p>Also, users can select to see only Verified or User Recipes by selecting which option they want.</p>

<h3>Rating Recipe</h3>

<p>Users can only rate a recipe once by selecting "Thumbs up or Thumbs down" in Recipe Detail.</p>

<p>Users can rate recipes with thumbs up or down.</p>

<h3>Reporting Recipe</h3>

<p>Users can report inappropriate recipes by going to the Recipe Detail view and clicking on "Report this Recipe"</p>

<p>Note: Users can only report a recipe once</p>

<h3>Bookmarking a recipe</h3>

<p>Users can bookmark a recipe by clicking on "Bookmark Recipe" in Recipe Detail Page.</p>


<h2>FAQ</h2>

<h3>Can other users see my recipes?</h3>

<p>Once they are approved and given "verified" status, your recipe will be visible to all users of the application.</p>

<p>Only you and administrators can view it before it gains that status.</p>

<h3>What is a "Verified" recipe?</h3>

<p>A verified recipe is a recipe personally approved by the administrators of the website and is recommended by the administrators.</p>

<h3>Why can't I create a verified recipe?</h3>

<p>Only admin can create verified recipes, or approve user recipes to become verified.</p>

<h3>What is a "diet type?"</h3>

<p>A diet type is a category that prohibits certain types of meals based on their ingredients.  Marking a recipe with a diet type allows others who follow that diet to find your recipe more easily.</p>

<p>If you are not sure which diets apply to your recipe, you may leave the field blank.</p>

<h3>How do I change Password?</h3>

<p>Go to the "UserDashboard" and click on Change Password.</p>

<h3>How do I change Username?</h3>

<p>Go to the "UserDashboard" and click on Change Username.</p>

<h3>There was an error when trying to create my recipe.  What happened?</h3>

<p>Your instructions field may be too long.  The maximum character limit for instructions is 2000</p>

<p>You may prove a link to the full recipe if you need to trim down details.</p>

<h3>If I delete my account, will my recipes remain?</h3>

<p>No.  Your recipes will be deleted along with your account.  If you re-create an account with the original email, it will be a fresh account.</p>

<h3>Do my diet, allergy, and restriction choices effect the search recipes page?</h3>

<p>No.  They only filter the recipe listing page.</p>