
@{
    ViewBag.Title = "UserDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Guide</h2>

<h3>Getting Started</h3>

<p>Before using most features of this application, you must accept it's terms and conditions.</p>

<p>If you did not accept them after registering, the page will reappear as you try to navigate the site.</p>

<p>Once you have accepted the terms and conditions, you will never be prompted to do so again.</p>

<h3>Email Verification</h3>

<p>Be to sure to check your email inbox and junk folders after registering, for an email from Cooking Curator.</p>

<p>The email will contain a link used to verify your email address.</p>

<h3>Creating a recipe</h3>

<p>Users can create their own recipes by clicking on "Add New Recipe" on the Recipe Listing.</p>

<p>Ingredients can be selected using the Ingredient Selection Field.</p>

<p>Users have the option to leave out a source link, diet types and images but need to fill every other field.</p>

<h3>Editing a recipe</h3>

<p>Important Note: Users can only edit their own recipes</p>

<p>Users can edit their own recipes by clicking on "Edit" on the Recipe Listing.</p>

<h3>Deleting a recipe</h3>

<p>Important Note: Users can only delete their own recipes</p>

<p>Users can delete their own recipes by clicking on "Delete" on the Recipe Listing.</p>

<h3>Getting more details about a recipe</h3>

<p>Go the recipe you want and click on "Details" on any Recipe Listing</p>

<h3>Searching a recipe</h3>

<p>Someone can search through recipes by clicking on "Search Recipes" in header</p>

<p>You can search by Ingredients or Title</p>

<p>In order to search for multiple Ingredients at once, you will need to use a "," to separate the ingredients entered</p>

<h3>Recipe Filtering</h3>

<p>The filters can be applied by filling in the country and meal time field. </p>

<p>When in the recipe index, you can filter by country and meal time.</p>

<p>Also, users can select to see only Verified or User Recipes by selecting which option they want.</p>

<h3>Rating Recipe</h3>

<p>Users can rate a recipe by selecting "Rate Up or Rate Down" in a Recipe's Details.</p>

<p>You can change your vote from positive to negative after voting, or vice versa, but you cannot reset your vote to zero</p>

<h3>Reporting Recipe</h3>

<p>Users can report inappropriate recipes by going to the Recipe Detail view and clicking on "Report this Recipe"</p>

<p>Note: Users can only report a recipe once</p>

<h3>Bookmarking a recipe</h3>

<p>Users can bookmark a recipe by clicking on "Bookmark Recipe" in Recipe Detail Page.</p>

<p>You can remove bookmarks using the individual delete or the "delete all" links on your bookmark index page.</p>

<p>You can have up to 50 bookmarks</p>

<h2>FAQ</h2>

<h3>Can other users see my recipes?</h3>

<p>Once they are approved and given "verified" status, your recipe will be visible to all users of the application.</p>

<p>Only you and administrators can view it before it gains that status.</p>

<h3>Do I need to verify my email address?</h3>

<p>Not immediately, but yes.  If a user is unverified for an extended period of time, they will be banned.</p>

<p>Only you and administrators can view it before it gains that status.</p>

<h3>What is a "Verified" recipe?</h3>

<p>A verified recipe is a recipe personally approved by the administrators of the website and is recommended by the administrators.</p>

<h3>Why can't I create a verified recipe?</h3>

<p>Only admin can create verified recipes, or approve user recipes to become verified.</p>

<h3>What is a "diet type?"</h3>

<p>A diet type is a category that prohibits certain types of meals based on their ingredients.</p>

<p>Marking a recipe with a diet type allows others who follow that diet to find your recipe more easily.</p>

<p>If you are not sure which diets apply to your recipe, you may leave the field blank.</p>

<h3>How do I change Password?</h3>

<p>Go to the "User Dashboard" and click on Change Password.</p>

<h3>How do I change Username?</h3>

<p>Go to the "User Dashboard" and click on Change Username.</p>

<h3>There was an error when trying to create my recipe.  What happened?</h3>

<p>Your instructions field may be too long.  The maximum character limit for instructions is 2000</p>

<p>You may prove a link to the full recipe if you need to trim down details.</p>

<h3>If I delete my account, will my recipes remain?</h3>

<p>No.  Your recipes will be deleted along with your account.  If you re-create an account with the original email, it will be a fresh account.</p>

<h3>Do my diet, allergy, and restriction choices effect the search recipes page?</h3>

<p>No.  They only filter the recipe listing page.</p>
