
@{
    ViewBag.Title = "UserDoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Doc</h2>

<h3>Creating a recipe</h3>

<p>Users can create their own recipes by clicking on "Add New Recipe" in Recipe Index.</p>

<p>Ingredients can be selected using the Ingredient Selection Field.</p>

<p>Users have the option to leave out the source link but need to fill every other field.</p>

<h3>Editing a recipe</h3>

<p>Note: Users can only edit their own recipes</p>

<p>Users can edit their own recipes by clicking on "Edit" in Recipe Index.</p>

<h3>Deleting a recipe</h3>

<p>Note: Users can only delete their own recipes</p>

<p>Users can delete their own recipes by clicking on "Delete" in Recipe Index.</p>

<h3>Getting more details about a recipe</h3>

<p>Go the recipe you want and click on "Details" in Recipe Index</p>

<h3>Searching a recipe</h3>

<p>Someone can search recipes by clicking on "Search Recieps" in header</p>

<p>You can search by Ingredients or Title</p>

<p>In order to search Ingredients, you need to use "," between ingredients</p>

<h3>Recipe Filtering</h3>

<p>The filters can be applied by filling in the country and meal time field. </p>

<p>When in the recipe index, you can filter by country and meal time.</p>

<p>Also, users can select to see only Verified or User Recipes by selecting which option they want.</p>

<h3>Rating Recipe</h3>

<p>Users can only rate a recipe once by selecting "Thumbs up or Thumbps down" in Recipe Detail.</p>

<p>Users can rate recipes with thumbs up or down.</p>

<h3>Reporting Recipe</h3>

<p>Users can report inappropriate recipes by going to the Recipe Detail view and clicking on "Report this Recipe"</p>

<p>Note: Users can only report a recipe once</p>

<h3>Bookmarking a recipe</h3>

<p>Users can bookmark a recipe by clicking on "Bookmark Recipe" in Recipe Detail Page.</p>


<h2>FAQ</h2>

<h3>Why Can't I create a verified recipe?</h3>

<p>Only admin can create verified recipes</p>

<h3>How do I change Password?</h3>

<p>Go to "UserDashboard" and click on Change Password.</p>

<h3>How do I change Username?</h3>

<p>Go to "UserDashboard" and click on Change Username.</p>