@model CookingCurator.EntityModels.UserBaseViewModel


@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><b><u>Information about "@Html.DisplayFor(model => model.userName)"</u></b></h1>
<br />
@Html.ActionLink("Click here to see this user's recipes.", "Authors", "Recipe", new { authorName = Model.userName }, new { @class = "btn btn-default" })
<p>
    Be advised that no user recipes are verified by Cooking Curator administrators.  User discretion is advised.
</p>

<hr />
@Html.ActionLink("Click here to search for recipes.", "Search", "Search", null, new { @class = "btn btn-default" })
<hr />

@Html.ActionLink("Click here to report this user.", "ContactUs", "Profile", null, new { @class = "btn btn-default" })
<p>Abuse of the report system will result in a permanent ban.</p>