@{
    ViewBag.Title = "About this application";
}
<h2>@ViewBag.Title:</h2>

<p>Cooking Curator is an application where users can find recipes suited to their available ingredients,
    dietary needs, and allergy restrictions.  Currently the viewing, adding, editing, and deleting of recipes
    is available.  Verified recipes are ones gathered and inspected by the administrators of this application.
    It is possible to see all recipes from a single author or user.</p>
