
@{
    ViewBag.Title = "Registeration Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered!!!</h2>

<div class="alert alert-success">
    <p> <b>Success!</b> Your account has been created successfully. An email is sent to your account. </p>
    <p> Please verify your account to enable more features. Click here to go to @Html.ActionLink("Accept Waiver", "AcceptWaiver", "Home", new { id = @ViewBag.MyString }, null) </p>
</div>
