
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VerifyAccount</h2>

<div class="alert alert-success">
    <b>Success!</b> Your account has been verified. Click here to @Html.ActionLink("Login", "Login", "Home")
</div>
